[QBOT]
VERSION = 000-000-060

[USER_PARAM]
ROBOT_TYPE = 103.000000
SPEEDSCALE_AUTO = 0.3
SPEEDSCALE_MANUAL = 0.3
TOOL_NUM = 0
TOOL_X = 0
TOOL_Y = 0
TOOL_Z = 0
TOOL_A = 0
TOOL_B = 0
TOOL_C = 0
ETCP_X = 0
ETCP_Y = 0
ETCP_Z = 0
ETCP_A = 0
ETCP_B = 0
ETCP_C = 0
ETOOL_X = 0
ETOOL_Y = 0
ETOOL_Z = 0
ETOOL_A = 0
ETOOL_B = 0
ETOOL_C = 0
WORKPIECE_NUM = 0
WORKPIECE_X = 0
WORKPIECE_Y = 0
WORKPIECE_Z = 0
WORKPIECE_A = 0
WORKPIECE_B = 0
WORKPIECE_C = 0
COLLISION_MODE = 0
COLLISION_LEVEL_TYPE = 0
J1_COLLISION_LEVEL = 10
J2_COLLISION_LEVEL = 10
J3_COLLISION_LEVEL = 10
J4_COLLISION_LEVEL = 10
J5_COLLISION_LEVEL = 10
J6_COLLISION_LEVEL = 10
COLLISION_PAUSE = 0
COLLISION_SAFETIME = 1000
COLLISION_SAFEDISTANCE = 150
COLLISION_SAFESPEED = 250
COLLISION_SAFEMARGIN1 = 5
COLLISION_SAFEMARGIN2 = 5
COLLISION_SAFEMARGIN3 = 5
COLLISION_SAFEMARGIN4 = 5
COLLISION_SAFEMARGIN5 = 5
COLLISION_SAFEMARGIN6 = 5
COLLISION_STATIC = 0
POWER_FLAG = 0
POWER_LIMIT = 200
LOAD_NUM = 0
LOAD_WEIGHT = 0
LOAD_Coord_X = 0
LOAD_Coord_Y = 0
LOAD_Coord_Z = 0
LOAD_IDENTIFY_DYN = 0
LOAD_IDENTIFY_TIME = 500
INSTALL_POS = 0.000000
INSTALL_YANGLE = 0.000000
INSTALL_ZANGLE = 0.000000
POSCMD_DONERANGE = 0.2
POSCMD_DONETIME = 1000
POSCMD_DONEMODE = 0
VEL_INTERVAL = 10
J1_MAX_JOINT_LIMIT = 175
J1_MIN_JOINT_LIMIT = -175
ART_J1_MAX_JOINT_LIMIT = 360
ART_J1_MIN_JOINT_LIMIT = -360
J2_MAX_JOINT_LIMIT = 85
J2_MIN_JOINT_LIMIT = -265
FR3_LEFT_J2_MAX_JOINT_LIMIT = 265
FR3_LEFT_J2_MIN_JOINT_LIMIT = -85
J3_MAX_JOINT_LIMIT = 160
J3_MIN_JOINT_LIMIT = -160
FR3_J3_MAX_JOINT_LIMIT = 150
FR3_J3_MIN_JOINT_LIMIT = -150
WM_J3_MAX_JOINT_LIMIT = 135
WM_J3_MIN_JOINT_LIMIT = -135
J4_MAX_JOINT_LIMIT = 85
J4_MIN_JOINT_LIMIT = -265
FR3_LEFT_J4_MAX_JOINT_LIMIT = 265
FR3_LEFT_J4_MIN_JOINT_LIMIT = -85
WM_J4_MAX_JOINT_LIMIT = 175
WM_J4_MIN_JOINT_LIMIT = -175
J5_MAX_JOINT_LIMIT = 175
J5_MIN_JOINT_LIMIT = -175
YD10_J5_MAX_JOINT_LIMIT = 355
YD10_J5_MIN_JOINT_LIMIT = 0
MT3_J5_MAX_JOINT_LIMIT = 355
MT3_J5_MIN_JOINT_LIMIT = 0
ART_J5_MAX_JOINT_LIMIT = 360
ART_J5_MIN_JOINT_LIMIT = -360
WM_J5_MAX_JOINT_LIMIT = 265
WM_J5_MIN_JOINT_LIMIT = -85
J6_MAX_JOINT_LIMIT = 175
J6_MIN_JOINT_LIMIT = -175
ART_J6_MAX_JOINT_LIMIT = 360
ART_J6_MIN_JOINT_LIMIT = -360
FR3WML_J6_MAX_JOINT_LIMIT = 360
FR3WML_J6_MIN_JOINT_LIMIT = -360
FRIC_COMPENSATION = 1
FRIC_JOINTSTIFFNESSTYPE = 1.000000
FRIC_VALUE_FREE_J1 = 0.5
FRIC_VALUE_FREE_J2 = 0.5
FRIC_VALUE_FREE_J3 = 0.5
FRIC_VALUE_FREE_J4 = 0.5
FRIC_VALUE_FREE_J5 = 0.5
FRIC_VALUE_FREE_J6 = 0.5
FORDEAD_GAIN1 = 1
FORDEAD_GAIN2 = 1
FORDEAD_GAIN3 = 1
FORDEAD_GAIN4 = 1
FORDEAD_GAIN5 = 1
FORDEAD_GAIN6 = 1
REVDEAD_GAIN1 = 1
REVDEAD_GAIN2 = 1
REVDEAD_GAIN3 = 1
REVDEAD_GAIN4 = 1
REVDEAD_GAIN5 = 1
REVDEAD_GAIN6 = 1
FORFAST_GAIN1 = 1
FORFAST_GAIN2 = 1
FORFAST_GAIN3 = 1
FORFAST_GAIN4 = 1
FORFAST_GAIN5 = 1
FORFAST_GAIN6 = 1
REVFAST_GAIN1 = 1
REVFAST_GAIN2 = 1
REVFAST_GAIN3 = 1
REVFAST_GAIN4 = 1
REVFAST_GAIN5 = 1
REVFAST_GAIN6 = 1
COLLISION_ERROR_TIME = 20
J1_COLLISIONVALUE = 0.15
J2_COLLISIONVALUE = 0.23
J3_COLLISIONVALUE = 0.20
J4_COLLISIONVALUE = 0.07
J5_COLLISIONVALUE = 0.07
J6_COLLISIONVALUE = 0.07
CTL_DI_FILTERTIME = 0
AXLE_DI_FILTERTIME = 0
TB_DI_FILTERTIME = 50
EXT_DI_FILTERTIME = 0
SMART_TOOL_DI_FILTERTIME = 0
CTL_AI0_FILTERTIME = 0
CTL_AI1_FILTERTIME = 0
AXLE_AI0_FILTERTIME = 0
EXT_AI0_FILTERTIME = 0
EXT_AI1_FILTERTIME = 0
EXT_AI2_FILTERTIME = 0
EXT_AI3_FILTERTIME = 0
CTL_DI0_LEVEL = 1
CTL_DI1_LEVEL = 1
CTL_DI2_LEVEL = 1
CTL_DI3_LEVEL = 1
CTL_DI4_LEVEL = 1
CTL_DI5_LEVEL = 1
CTL_DI6_LEVEL = 1
CTL_DI7_LEVEL = 1
CTL_DI8_CONFIG = 0.000000
CTL_DI9_CONFIG = 0.000000
CTL_DI10_CONFIG = 0.000000
CTL_DI11_CONFIG = 0.000000
CTL_DI12_CONFIG = 0.000000
CTL_DI13_CONFIG = 0.000000
CTL_DI14_CONFIG = 0.000000
CTL_DI15_CONFIG = 0.000000
CTL_DI8_LEVEL = 1
CTL_DI9_LEVEL = 1
CTL_DI10_LEVEL = 1
CTL_DI11_LEVEL = 1
CTL_DI12_LEVEL = 1
CTL_DI13_LEVEL = 1
CTL_DI14_LEVEL = 1
CTL_DI15_LEVEL = 1
CTL_DO0_LEVEL = 0
CTL_DO1_LEVEL = 0
CTL_DO2_LEVEL = 0
CTL_DO3_LEVEL = 0
CTL_DO4_LEVEL = 0
CTL_DO5_LEVEL = 0
CTL_DO6_LEVEL = 0
CTL_DO7_LEVEL = 0
CTL_DO8_CONFIG = 0
CTL_DO9_CONFIG = 0
CTL_DO10_CONFIG = 3
CTL_DO11_CONFIG = 4
CTL_DO12_CONFIG = 0
CTL_DO13_CONFIG = 0
CTL_DO14_CONFIG = 0
CTL_DO15_CONFIG = 0
CTL_DO8_LEVEL = 0
CTL_DO9_LEVEL = 0
CTL_DO10_LEVEL = 0
CTL_DO11_LEVEL = 0
CTL_DO12_LEVEL = 0
CTL_DO13_LEVEL = 0
CTL_DO14_LEVEL = 0
CTL_DO15_LEVEL = 0
TOOL_DI1_CONFIG = 0
TOOL_DI2_CONFIG = 0
TOOL_DI1_LEVEL = 1
TOOL_DI2_LEVEL = 1
TOOL_DO0_CONFIG = 0
TOOL_DO1_CONFIG = 0
TOOL_DO0_LEVEL = 0
TOOL_DO1_LEVEL = 0
EXT_AI_ARCWELDTRACE = 0
EXT_NUM_AIRCONTROL = 12
EXT_NUM_ARCSTART = 13
EXT_NUM_WIREREVERSEFEED = 14
EXT_NUM_WIREFORWARDFEED = 15
EXT_NUM_WIRESEARCHSTART = 16
EXT_NUM_WELDCTLMODE = 17
EXT_NUM_ARCDONE = -1
EXT_NUM_WELDREADY = -1
EXT_NUM_INTERRUPTRECOVER = -1
EXT_NUM_INTERRUPTEXIT = -1
EXT_NUM_WIRESEARCHDONE = -1
CTL_DO_OUTPUT_RESET = 0
CTL_AO_OUTPUT_RESET = 0
AXLE_DO_OUTPUT_RESET = 0
AXLE_AO_OUTPUT_RESET = 0
EXT_DO_OUTPUT_RESET = 0
EXT_AO_OUTPUT_RESET = 0
SMARTTOOL_DO_OUTPUT_RESET = 0
ORIGIN_SETFLAG = 1.000000
ORIGIN_J1 = 90.182999
ORIGIN_J2 = -145.001007
ORIGIN_J3 = 135.000000
ORIGIN_J4 = 10.002000
ORIGIN_J5 = 100.000000
ORIGIN_J6 = -90.000000
AUTO_MODE_COLOUR = 1
MANUAL_MODE_COLOUR = 2
DRAG_MODE_COLOUR = 3
SAFETY_STOP_PAUSE = 1
SAFETY_OPEN_CLOSE = 0
J1_A_FF_RATIO = 0
J2_A_FF_RATIO = 0
J3_A_FF_RATIO = 0
J4_A_FF_RATIO = 0
J5_A_FF_RATIO = 0
J6_A_FF_RATIO = 0
J1_D_FF_RATIO = 1
J2_D_FF_RATIO = 1
J3_D_FF_RATIO = 1
J4_D_FF_RATIO = 1
J5_D_FF_RATIO = 1
J6_D_FF_RATIO = 1
J1_V_FF_RATIO = 1
J2_V_FF_RATIO = 1
J3_V_FF_RATIO = 1
J4_V_FF_RATIO = 1
J5_V_FF_RATIO = 1
J6_V_FF_RATIO = 1
FF_MAX_VEL = 180
SLOWDOWNSTOP_MODE = 0
SLOWDOWNSTOP_DCC = 100
POSITIONPOSTURE_STRATEGY = 0
ARCCIRCLEPOSTURE_STRATEGY = 0
MAXACC_RATIO = 1
POWEROFF_DISABLE = 0
TCP_COORD_X = 0
TCP_COORD_Y = 0
TCP_COORD_Z = 0
TCP_COORD_A = 0
TCP_COORD_B = 0
TCP_COORD_C = 0

[REDUCEMODE_PARAM]
REDUCEMODE1_J1_V = 36
REDUCEMODE1_J2_V = 36
REDUCEMODE1_J3_V = 36
REDUCEMODE1_J4_V = 36
REDUCEMODE1_J5_V = 36
REDUCEMODE1_J6_V = 36
REDUCEMODE1_TCP_V = 200
REDUCEMODE2_J1_V = 18
REDUCEMODE2_J2_V = 18
REDUCEMODE2_J3_V = 18
REDUCEMODE2_J4_V = 18
REDUCEMODE2_J5_V = 18
REDUCEMODE2_J6_V = 18
REDUCEMODE2_TCP_V = 100

[INTERFERE_PARAM]
INTERFERE_STOP = 0
INTERFERE_JOINT_SETFLAG = 0
INTERFERE_JOINT_DATACHECK = 0
INTERFERE_JOINT_MODE = 0
INTERFERE_J1_ENABLE = 0
INTERFERE_J1_MAX = 0
INTERFERE_J1_MIN = 0
INTERFERE_J2_ENABLE = 0
INTERFERE_J2_MAX = 0
INTERFERE_J2_MIN = 0
INTERFERE_J3_ENABLE = 0
INTERFERE_J3_MAX = 0
INTERFERE_J3_MIN = 0
INTERFERE_J4_ENABLE = 0
INTERFERE_J4_MAX = 0
INTERFERE_J4_MIN = 0
INTERFERE_J5_ENABLE = 0
INTERFERE_J5_MAX = 0
INTERFERE_J5_MIN = 0
INTERFERE_J6_ENABLE = 0
INTERFERE_J6_MAX = 0
INTERFERE_J6_MIN = 0
INTERFERE_CUBE_SETFLAG = 0
INTERFERE_CUBE_DATACHECK = 0
INTERFERE_CUBE_MODE = 0
INTERFERE_CUBE_REFCOORD = 0
INTERFERE_CUBE_COORDNUM = 0
INTERFERE_CUBE_COORD_X = 0
INTERFERE_CUBE_COORD_Y = 0
INTERFERE_CUBE_COORD_Z = 0
INTERFERE_CUBE_COORD_A = 0
INTERFERE_CUBE_COORD_B = 0
INTERFERE_CUBE_COORD_C = 0
INTERFERE_CUBE_METHOD = 0
INTERFERE_X_MAX = 0
INTERFERE_Y_MAX = 0
INTERFERE_Z_MAX = 0
INTERFERE_X_MIN = 0
INTERFERE_Y_MIN = 0
INTERFERE_Z_MIN = 0
INTERFERE_X_CENTER = 0
INTERFERE_Y_CENTER = 0
INTERFERE_Z_CENTER = 0
INTERFERE_X_LENGTH = 0
INTERFERE_Y_LENGTH = 0
INTERFERE_Z_LENGTH = 0
INTERFERE_DRAG = 0

[SAFETYPLANE_PARAM]
SAFETYPLANE0_ENABLE = 0
SAFETYPLANE0_PLANE_A = 0
SAFETYPLANE0_PLANE_B = 0
SAFETYPLANE0_PLANE_C = 0
SAFETYPLANE0_PLANE_D = 0
SAFETYPLANE0_SAFE_DIS = 0
SAFETYPLANE1_ENABLE = 0
SAFETYPLANE1_PLANE_A = 0
SAFETYPLANE1_PLANE_B = 0
SAFETYPLANE1_PLANE_C = 0
SAFETYPLANE1_PLANE_D = 0
SAFETYPLANE1_SAFE_DIS = 0
SAFETYPLANE2_ENABLE = 0
SAFETYPLANE2_PLANE_A = 0
SAFETYPLANE2_PLANE_B = 0
SAFETYPLANE2_PLANE_C = 0
SAFETYPLANE2_PLANE_D = 0
SAFETYPLANE2_SAFE_DIS = 0
SAFETYPLANE3_ENABLE = 0
SAFETYPLANE3_PLANE_A = 0
SAFETYPLANE3_PLANE_B = 0
SAFETYPLANE3_PLANE_C = 0
SAFETYPLANE3_PLANE_D = 0
SAFETYPLANE3_SAFE_DIS = 0
SAFETYPLANE4_ENABLE = 0
SAFETYPLANE4_PLANE_A = 0
SAFETYPLANE4_PLANE_B = 0
SAFETYPLANE4_PLANE_C = 0
SAFETYPLANE4_PLANE_D = 0
SAFETYPLANE4_SAFE_DIS = 0
SAFETYPLANE5_ENABLE = 0
SAFETYPLANE5_PLANE_A = 0
SAFETYPLANE5_PLANE_B = 0
SAFETYPLANE5_PLANE_C = 0
SAFETYPLANE5_PLANE_D = 0
SAFETYPLANE5_SAFE_DIS = 0
SAFETYPLANE6_ENABLE = 0
SAFETYPLANE6_PLANE_A = 0
SAFETYPLANE6_PLANE_B = 0
SAFETYPLANE6_PLANE_C = 0
SAFETYPLANE6_PLANE_D = 0
SAFETYPLANE6_SAFE_DIS = 0
SAFETYPLANE7_ENABLE = 0
SAFETYPLANE7_PLANE_A = 0
SAFETYPLANE7_PLANE_B = 0
SAFETYPLANE7_PLANE_C = 0
SAFETYPLANE7_PLANE_D = 0
SAFETYPLANE7_SAFE_DIS = 0

[WEAVE_PARAM]
WEAVE0_TYPE = 0
WEAVE0_FREQ = 0
WEAVE0_INCTIME = 0
WEAVE0_RANGE = 0
WEAVE0_LEFTRANGE = 0
WEAVE0_RIGHTRANGE = 0
WEAVE0_ORIGINTIME = 0
WEAVE0_LTIME = 0
WEAVE0_RTIME = 0
WEAVE0_CIRCLERATIO = 0
WEAVE0_STATIONARY = 0
WEAVE0_YAWANGLE = 0
WEAVE1_TYPE = 0
WEAVE1_FREQ = 0
WEAVE1_INCTIME = 0
WEAVE1_RANGE = 0
WEAVE1_LEFTRANGE = 0
WEAVE1_RIGHTRANGE = 0
WEAVE1_ORIGINTIME = 0
WEAVE1_LTIME = 0
WEAVE1_RTIME = 0
WEAVE1_CIRCLERATIO = 0
WEAVE1_STATIONARY = 0
WEAVE1_YAWANGLE = 0
WEAVE2_TYPE = 0
WEAVE2_INCTIME = 0
WEAVE2_FREQ = 0
WEAVE2_RANGE = 0
WEAVE2_LEFTRANGE = 0
WEAVE2_RIGHTRANGE = 0
WEAVE2_ORIGINTIME = 0
WEAVE2_LTIME = 0
WEAVE2_RTIME = 0
WEAVE2_CIRCLERATIO = 0
WEAVE2_STATIONARY = 0
WEAVE2_YAWANGLE = 0
WEAVE3_TYPE = 0
WEAVE3_FREQ = 0
WEAVE3_INCTIME = 0
WEAVE3_RANGE = 0
WEAVE3_LEFTRANGE = 0
WEAVE3_RIGHTRANGE = 0
WEAVE3_ORIGINTIME = 0
WEAVE3_LTIME = 0
WEAVE3_RTIME = 0
WEAVE3_CIRCLERATIO = 0
WEAVE3_STATIONARY = 0
WEAVE3_YAWANGLE = 0
WEAVE4_TYPE = 0
WEAVE4_FREQ = 0
WEAVE4_INCTIME = 0
WEAVE4_RANGE = 0
WEAVE4_LEFTRANGE = 0
WEAVE4_RIGHTRANGE = 0
WEAVE4_ORIGINTIME = 0
WEAVE4_LTIME = 0
WEAVE4_RTIME = 0
WEAVE4_CIRCLERATIO = 0
WEAVE4_STATIONARY = 0
WEAVE4_YAWANGLE = 0
WEAVE5_TYPE = 0
WEAVE5_FREQ = 0
WEAVE5_INCTIME = 0
WEAVE5_RANGE = 0
WEAVE5_LEFTRANGE = 0
WEAVE5_RIGHTRANGE = 0
WEAVE5_ORIGINTIME = 0
WEAVE5_LTIME = 0
WEAVE5_RTIME = 0
WEAVE5_CIRCLERATIO = 0
WEAVE5_STATIONARY = 0
WEAVE5_YAWANGLE = 0
WEAVE6_TYPE = 0
WEAVE6_FREQ = 0
WEAVE6_INCTIME = 0
WEAVE6_RANGE = 0
WEAVE6_LEFTRANGE = 0
WEAVE6_RIGHTRANGE = 0
WEAVE6_ORIGINTIME = 0
WEAVE6_LTIME = 0
WEAVE6_RTIME = 0
WEAVE6_CIRCLERATIO = 0
WEAVE6_STATIONARY = 0
WEAVE6_YAWANGLE = 0
WEAVE7_TYPE = 0
WEAVE7_FREQ = 0
WEAVE7_INCTIME = 0
WEAVE7_RANGE = 0
WEAVE7_LEFTRANGE = 0
WEAVE7_RIGHTRANGE = 0
WEAVE7_ORIGINTIME = 0
WEAVE7_LTIME = 0
WEAVE7_RTIME = 0
WEAVE7_CIRCLERATIO = 0
WEAVE7_STATIONARY = 0
WEAVE7_YAWANGLE = 0

[WELD_TRACKING]
POSSENSOR_NUM = 0
POSSENSOR_X = 0
POSSENSOR_Y = 0
POSSENSOR_Z = 0
POSSENSOR_A = 0
POSSENSOR_B = 0
POSSENSOR_C = 0
POSSENSOR_INSTALL = 0
POSSENSOR_MAXDIFF = 1.5
POSSENSOR_SENSITIVE_X = 1
POSSENSOR_SENSITIVE_Y = 1
POSSENSOR_SENSITIVE_Z = 1
POSSENSOR_DATAUSAGE = 0

[EXTERNAL_AXIS]
EXTERNALAXIS_NUM = 0
EXTERNALAXIS_N_COORD = 0
EXTERNALAXIS_FLAG_CALIB = 0
EXTERNALAXIS_X = 0
EXTERNALAXIS_Y = 0
EXTERNALAXIS_Z = 0
EXTERNALAXIS_A = 0
EXTERNALAXIS_B = 0
EXTERNALAXIS_C = 0
EXTERNALAXIS_TYPE_COM = 0

[CONVEYOR_TRACKING]
ENCODER_CHANNEL = 0
ENCODER_RESOLUTION = 10000
ENCODER_LEAD = 200
ENCODER_WPAXIS = 0
ENCODER_VISION = 0
ENCODER_SPEEDRATIO = 10
POINTIO_ENCODER = 0
POINTA_TOOL_X = 0
POINTA_TOOL_Y = 0
POINTA_TOOL_Z = 0
POINTA_TOOL_A = 0
POINTA_TOOL_B = 0
POINTA_TOOL_C = 0
POINTA_ENCODER = 0
POINTREF_TOOL_X = 0
POINTREF_TOOL_Y = 0
POINTREF_TOOL_Z = 0
POINTREF_TOOL_A = 0
POINTREF_TOOL_B = 0
POINTREF_TOOL_C = 0
POINTB_TOOL_X = 0
POINTB_TOOL_Y = 0
POINTB_TOOL_Z = 0
POINTB_TOOL_A = 0
POINTB_TOOL_B = 0
POINTB_TOOL_C = 0
POINTB_ENCODER = 0
COMPENSATION_TOOL_X = 0
COMPENSATION_TOOL_Y = 0
COMPENSATION_TOOL_Z = 0

[FORCE_SENSOR]
FORCESENSOR_SETFLAG = 0
FORCESENSOR_REFCOORD = 0
FORCESENSOR_COORD_X = 0
FORCESENSOR_COORD_Y = 0
FORCESENSOR_COORD_Z = 0
FORCESENSOR_COORD_A = 0
FORCESENSOR_COORD_B = 0
FORCESENSOR_COORD_C = 0
FORCESENSOR_LOADWEIGHT = 0
FORCESENSOR_LOADCOORDX = 0
FORCESENSOR_LOADCOORDY = 0
FORCESENSOR_LOADCOORDZ = 0
FORCESENSOR_ZEROFLAG = 0
FORCESENSOR_ZERO_FX = 0
FORCESENSOR_ZERO_FY = 0
FORCESENSOR_ZERO_FZ = 0
FORCESENSOR_ZERO_MX = 0
FORCESENSOR_ZERO_MY = 0
FORCESENSOR_ZERO_MZ = 0
FORCESENSOR_ZEROOFFSET_FX = 0
FORCESENSOR_ZEROOFFSET_FY = 0
FORCESENSOR_ZEROOFFSET_FZ = 0
FORCESENSOR_ZEROOFFSET_MX = 0
FORCESENSOR_ZEROOFFSET_MY = 0
FORCESENSOR_ZEROOFFSET_MZ = 0
FORCESENSOR_ENDDRAGFMAX = 50
FORCESENSOR_ENDDRAGVMAX = 180
FORCESENSOR_ENDDRAGFX = 5
FORCESENSOR_ENDDRAGFY = 5
FORCESENSOR_ENDDRAGFZ = 5
FORCESENSOR_ENDDRAGMX = 1
FORCESENSOR_ENDDRAGMY = 1
FORCESENSOR_ENDDRAGMZ = 1
FORCESENSOR_ENDDRAGAUTOFLAG = 1
FORCESENSOR_INERTIA_X = 15
FORCESENSOR_INERTIA_Y = 15
FORCESENSOR_INERTIA_Z = 15
FORCESENSOR_INERTIA_MX = 0.5
FORCESENSOR_INERTIA_MY = 0.5
FORCESENSOR_INERTIA_MZ = 0.1
FORCESENSOR_ADAPTIVE_SIGN = 1
FORCESENSOR_INTERFERE_SIGN = 0
SINGULARITYCONSTRAINTSFLAG = 0
FORCESENSOR_DAMP_X = 150
FORCESENSOR_DAMP_Y = 150
FORCESENSOR_DAMP_Z = 150
FORCESENSOR_DAMP_MX = 5
FORCESENSOR_DAMP_MY = 5
FORCESENSOR_DAMP_MZ = 1
FORCESENSOR_STIFFNESS_X = 0
FORCESENSOR_STIFFNESS_Y = 0
FORCESENSOR_STIFFNESS_Z = 0
FORCESENSOR_STIFFNESS_MX = 0
FORCESENSOR_STIFFNESS_MY = 0
FORCESENSOR_STIFFNESS_MZ = 0
FORCESENSOR_KP_X = 0
FORCESENSOR_KP_Y = 0
FORCESENSOR_KP_Z = 0
FORCESENSOR_KP_MX = 0
FORCESENSOR_KP_MY = 0
FORCESENSOR_KP_MZ = 0
FORCESENSOR_KD_X = 0
FORCESENSOR_KD_Y = 0
FORCESENSOR_KD_Z = 0
FORCESENSOR_KD_MX = 0
FORCESENSOR_KD_MY = 0
FORCESENSOR_KD_MZ = 0

[SAFETY_PARAM]
SAFETYSTOP_ENABLE = 0
VELREDUCE_ENABLE = 0
VELREDUCE_MAXTCPVEL = 250
VELREDUCE_STRATEGY = 0
SAFETY_ESTOP_MODE = 0
SAFETY_ESTOP_TIMELIMIT = 200
SAFETY_ESTOP_DISLIMIT = 10
SAFETY_PSTOP_MODE = 2
CTL_DI0_SAFETY_LEVEL = 0
CTL_DI1_SAFETY_LEVEL = 0
CTL_DI2_SAFETY_LEVEL = 0
CTL_DI3_SAFETY_LEVEL = 0
CTL_DI4_SAFETY_LEVEL = 0
CTL_DI5_SAFETY_LEVEL = 0
CTL_DI6_SAFETY_LEVEL = 0
CTL_DI7_SAFETY_LEVEL = 0
CTL_DI8_SAFETY_LEVEL = 0
CTL_DI9_SAFETY_LEVEL = 0
CTL_DI10_SAFETY_LEVEL = 0
CTL_DI11_SAFETY_LEVEL = 0
CTL_DI12_SAFETY_LEVEL = 0
CTL_DI13_SAFETY_LEVEL = 0
CTL_DI14_SAFETY_LEVEL = 0
CTL_DI15_SAFETY_LEVEL = 0
CTL_DO0_SAFETY_LEVEL = 0
CTL_DO1_SAFETY_LEVEL = 0
CTL_DO2_SAFETY_LEVEL = 0
CTL_DO3_SAFETY_LEVEL = 0
CTL_DO4_SAFETY_LEVEL = 0
CTL_DO5_SAFETY_LEVEL = 0
CTL_DO6_SAFETY_LEVEL = 0
CTL_DO7_SAFETY_LEVEL = 0
CTL_DO8_SAFETY_LEVEL = 0
CTL_DO9_SAFETY_LEVEL = 0
CTL_DO10_SAFETY_LEVEL = 0
CTL_DO11_SAFETY_LEVEL = 0
CTL_DO12_SAFETY_LEVEL = 0
CTL_DO13_SAFETY_LEVEL = 0
CTL_DO14_SAFETY_LEVEL = 0
CTL_DO15_SAFETY_LEVEL = 0

[RCM_PARAM]
RCM_ENABLE = 0
RCM_COORD_FLAG = 0
RCM_COORD_X = 0
RCM_COORD_Y = 0
RCM_COORD_Z = 0
FOCUS_COORD_X = 0
FOCUS_COORD_Y = 0
FOCUS_COORD_Z = 0

[DRAGLOCK_PARAM]
DRAGLOCK_ENABLE = 0
DRAGLOCK_P_X = 0
DRAGLOCK_I_X = 0
DRAGLOCK_D_X = 0
DRAGLOCK_P_Y = 0
DRAGLOCK_I_Y = 0
DRAGLOCK_D_Y = 0
DRAGLOCK_P_Z = 0
DRAGLOCK_I_Z = 0
DRAGLOCK_D_Z = 0
DRAGLOCK_P_A = 0
DRAGLOCK_I_A = 0
DRAGLOCK_D_A = 0
DRAGLOCK_P_B = 0
DRAGLOCK_I_B = 0
DRAGLOCK_D_B = 0
DRAGLOCK_P_C = 0
DRAGLOCK_I_C = 0
DRAGLOCK_D_C = 0

[TEST_PARAM]
NEW_TEACH_ENABLE = 0
NEW_TEACH_P_X = 0
NEW_TEACH_I_X = 0
NEW_TEACH_D_X = 0
NEW_TEACH_P_Y = 0
NEW_TEACH_I_Y = 0
NEW_TEACH_D_Y = 0
NEW_TEACH_P_Z = 0
NEW_TEACH_I_Z = 0
NEW_TEACH_D_Z = 0
NEW_TEACH_P_A = 0
NEW_TEACH_I_A = 0
NEW_TEACH_D_A = 0
NEW_TEACH_P_B = 0
NEW_TEACH_I_B = 0
NEW_TEACH_D_B = 0
NEW_TEACH_P_C = 0
NEW_TEACH_I_C = 0
NEW_TEACH_D_C = 0
NEW_TEACH_GAIN1 = 1.43
NEW_TEACH_GAIN2 = 1.23
NEW_TEACH_GAIN3 = 1.23
NEW_TEACH_GAIN4 = 1.43
NEW_TEACH_GAIN5 = 1.43
NEW_TEACH_GAIN6 = 1.43
NEW_TEACH_GAIN_KF1 = 1
NEW_TEACH_GAIN_KF2 = 1
NEW_TEACH_GAIN_KF3 = 1
NEW_TEACH_GAIN_KF4 = 1
NEW_TEACH_GAIN_KF5 = 1
NEW_TEACH_GAIN_KF6 = 1
NEW_TEACH_GAIN_GADJ1 = 1
NEW_TEACH_GAIN_GADJ2 = 1
NEW_TEACH_GAIN_GADJ3 = 1
NEW_TEACH_GAIN_GADJ4 = 1
NEW_TEACH_GAIN_GADJ5 = 1
NEW_TEACH_GAIN_GADJ6 = 1
NEW_TEACH_GAIN_KFADJ1 = 0
NEW_TEACH_GAIN_KFADJ2 = 0
NEW_TEACH_GAIN_KFADJ3 = 0
NEW_TEACH_GAIN_KFADJ4 = 0
NEW_TEACH_GAIN_KFADJ5 = 0
NEW_TEACH_GAIN_KFADJ6 = 1
IMPEDANCE_SIGN = 0
LAMDAGAIN1 = 0
LAMDAGAIN2 = 0
LAMDAGAIN3 = 0
LAMDAGAIN4 = 0
LAMDAGAIN5 = 0
LAMDAGAIN6 = 0
KGAIN1 = 0
KGAIN2 = 0
KGAIN3 = 0
KGAIN4 = 0
KGAIN5 = 0
KGAIN6 = 0
BGAIN1 = 0
BGAIN2 = 0
BGAIN3 = 0
BGAIN4 = 0
BGAIN5 = 0
BGAIN6 = 0
DRAGMAXTCPVEL = 1000
DRAGMAXTCPORIVEL = 120
POSBACK_MODE = 0
